@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-background: #f9fafb;
  --color-text: #111827;
  scrollbar-width: thin;
}

.dark {
  --color-background: #0b1220;
  --color-text: #e6eef8;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Roboto Mono";
}
