@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-roboto: "Roboto Mono";
}

:root {
  --background: #f9fafb;
  --text: #111827;
  scrollbar-width: thin;
}

.dark {
  --background: #0b1220;
  --text: #e6eef8;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto Mono";
}
